* {
  box-sizing: border-box;
  font-family: 'Comic Sans MS', sans-serif;
}

body {
  background-color: black;
  color: #7ac70c;
  text-align: center;
  border-bottom: 6px groove #ffc715;
  padding-bottom:0;
}
/*HEADER*/
header {
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#container {
  display: flex; 
  align-items: flex-end;
}

#title {
  display:flex;
  flex-direction: column;
} 

#img-duo {
  width: 100%; 
  height: auto; 
  max-width: 160px;
}

h1 {
  font-size: 50px;
  margin:0;
}

h2 {
  margin:0;
}

h1, h2 {
  text-align: left;
  color:#ffc715;
}

nav{
  display: flex;
  justify-content: right;
  height: 80px;
 
  
}
nav ul{
  background-color:#ffc715;
  border-radius: 50px 15px;
  margin-top:5px;
  padding-top:10px;
  min-width: 100%;
  
}
nav li{
  display: inline-block;
  width: 100px;
  text-transform: uppercase; 
  text-decoration: underline;
  color:black;
  text-align:center;
  font-weight:900;
  text-decoration: underline;
  padding-top: 5px;  
}

nav li a {
  color: black;
}

/*CONTENT*/
.row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: no-wrap;
}

.column {
  padding: 15px; 
}

#column1 {
  max-width: 60%;
   border-right: 6px groove #ffc715;
 }
#column2 {
  max-width: 40%;
  /* min-width: 30%; */
  }

h3 {
 color:#ffc715;                                                                      
}
.img-duo-2 {
  width: 260px;
  height: auto;
  transform: rotateY(180deg);
}

p {
  font-size: 18.5px;
}

.cajas{
  height: auto;
  width:250px;
  float: left;
}

li {
  list-style-type: square;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  padding-bottom:20px;
}
#quote {
  color:#ffc715;
  font-size: 25px;
  font-family:'Bradley Hand';
  margin-top:2rem;
}

 #column-inside1 {
   width: 60%;
   
 }
  #column-inside2 {
    width:40%;
    float:right;
  }

.row-inside{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
/* MEDIA QUERIES */

 /* MOBILE */
 @media only screen and (max-width:700px){

  nav{
    min-width: 100%;
  }
  
  nav ul { 
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 0;
  }

  nav li {
    margin-left: -30px;
  }

  header{
    flex-direction: column-reverse;
    align-items: center;
  }

  h1, h2 {
    text-align: left;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  #column1 {
    min-width: 100%;
    border-right: none;
    border-bottom: 6px groove #ffc715;
   }

  #column2 {
    max-width: none;
    } 

  #column-inside1 {
      min-width: 100%;
    }

  #column-inside2 {
       min-width:100%;
       float: none;
     }
   
  .row-inside{
     flex-wrap: wrap;
   }
}

/* TABLET */

@media only screen and (max-width:1024px) and (min-width: 700px) {

  header{
    flex-direction: column-reverse;
  }

  nav{
    min-width: 100%;
  }
  
  nav ul { 
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 0;
  }

  nav li {
    margin-left: -30px;
  }

  .row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  #column1 {
    min-width: 100%;
    border-right: none;
    border-bottom: 6px groove #ffc715;
   }
  #column2 {
    max-width: none;
    }

}